.html {
    font-size: 10px;
}

.body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;
    min-height: 80vh;
}


button {
    all: unset;
    cursor: pointer; 
}

.container {
    display: flex;
    justify-content: space-between;
}

img {
    width: 120px;
    height: auto;
    margin: 1vh;
    padding: 80px;
}

#newGame {
    background-color: #db9854;
    height: 80px;
    width: 120px;
    margin: 5vh;
    border-radius: .6rem;
    color: white;
    text-align: center;
    text-shadow: 0 0 0.5rem black;
    cursor: pointer; 
    position: relative;
    border: 2px solid black;
}

#newGame:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;

}


button:hover {
    transform: scale(1.1);
}


.scorebox {
    border: 2px solid black;
    width: 30%;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

p {
    text-align: left;
}
